.form-group {
	max-width: 400px;
	margin-bottom: 30px;
}
.container {
	max-width: 400px;
}
.table.container {
	margin-top: 50px;
	max-width: 70%;
}
.my_div {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 50px;
}
span.required {
	color: red;
}